
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,500;1,800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
   color: #797979;
}
.top-bar {
    background-color: #ef0774;
    color: #fff;
    position: relative;
   
}
.left-side ul {
    padding-top: 15px;
    margin: 0;
}
.left-side  ul li{
    display: inline;
    margin-top: 10px;
   
}
.left-side ul li a{
    list-style-type: none;
    padding: 0px 12px;
    
    color: #fff;
    border-right: 1px solid #fff;
    text-decoration: none;
}
.left-side ul li a:hover {
    color: #000;
}
.left-side ul span li a {
    border-right: none;
}
.cirlce {
    position: relative;
    border-radius: 50%;
    height: 130px;
    width: 240px;
    background-color: #fff;
    top: -20px;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 50px 30px 26px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 14px #959595;
    justify-content: center;
    cursor: pointer;

}
.cirlce img {
    width:85%;
}
.right-side  ul {
    padding-top: 15px;
    margin: 0;
}
.right-side ul i:hover {
    color: #000;
}
.right-side ul li a:hover {
    color: #000;
}
.right-side   ul li{
    display: inline;
    margin-top: 10px;
}
.right-side ul li a{
    list-style-type: none;
    padding: 0px 8px;
    color: #fff;
    text-decoration: none;
}
.menu .nav-item .nav-link {
    color: #000;
    font-size: 15px;
       
} 
.menu .nav-item .nav-link:hover {
    color: #ef0774;
}
.menu .navbar-nav .nav-item  span a{
    color: #ef0774;
}
.menu .navbar-nav li {
    text-align: center;
}
.banner .carousel-item .active img {
    width: 100%;
}
.banner .carousel ol li {
    background-color: transparent;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    border: 1px solid #fff;
    cursor: pointer;
}

.banner .carousel-indicators .active{
    background-color: #ef0774;
}
.heading-main h2 {
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin: 8px 0;
    padding: 0;
}
.heading-main {
    text-align: center;
}
.heading-main img {
    width: 20%;
   color: #000;
}
.about {
    margin-top: 60px;
}

p {
    color: #797979;
    font-size: 12px;
    margin: 1px;
    line-height: 25px;
}
.services-detail img {
    width: 20%;
   color: #000;
   
}
.services-detail {
    text-align: center;
}
.services {
    margin-top: 60px;
}
.menu .navbar-collapse {
    flex-grow: inherit;
}
.menu {
    padding: 5px;
}
.menu .navbar-nav {
    justify-content: center;
}
.room img {
    width: 100%;
}
.room {
    margin-bottom:30px;
    transition-duration:1s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
}
.room:hover:before{
    height: 100%;

}
.room:hover h5{
    color: #ef0774;
    bottom: 45%;
}
.room:before {content:''; position: absolute; bottom: 0; left: 0; background-color: #000; opacity: 0.6; width: 100%; height: 20%;}
.room h5 {
    color: #fff;

    font-size: 20px;
    text-align: center;

    position: absolute;
    bottom: 9px;
    right: 0;
    left: 0px;
    width:100%;
    margin: 0 auto;
    cursor: pointer;
}

.tour {
   
    margin-top: 60px;
    display: flex;
    align-items: center;
}
.left-tour {
    background-color: #ef0774;
    flex: 1;

}
.right-tour {
    
    flex: 1;
   
}
.left-tour h6{
    margin-left: 50px;
   padding-top: 50px;
    color: #fff;
    text-transform: uppercase;
    word-spacing: 4px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}
.left-tour h3{
    margin-left: 50px;
    font-size: 50px;
    margin-top: 15px;
    color: #fff;
}
.btn {
    border-radius: 0;
    background-color:#fff;
    padding: 9px 30px;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;

}
.btn-now{
   
    margin: 30px 50px 48px;
}
.testimonials {
    margin-top: 60px;
}
.testimonials h5 {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-weight: 600;
    
}
.testimonials h2{
    color: #000;
    font-size: 35px;
    text-align: center;
}
.client-feedback {
    text-align: center;
   
    padding: 45px 20px;
    margin-top: 25px;
    margin-right: 20px;
    box-shadow: 0px 0px 8px #ededed;
}

  

.client-feedback h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding-top: 15px;
    color: #000;
    cursor: pointer;
}
.client-feedback p{
    padding-top: 20px;
    line-height: 20px;
    cursor: pointer;
}
.client-feedback h6{
    margin: 0;
    cursor: pointer;
}
.gallery {
    margin-top: 60px;
}

.gallery .owl-carousel .item{
    margin-top: 30px;
}
.contacts {
    text-align: center;
    margin: 60px 0px;
}
.contacts h1 {
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 5px;
    color: #000;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}
.contacts h3{
    text-transform: uppercase;
    color: #000;
    font-size: 23px;
    
    color: #000;
   
    margin: 0;
}

.contacts h5 {
    color: #000;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 400;   
}
.contacts h5 i {
    transform: rotate(20deg);
}
.btn-call{
    color: #fff;
    background-color: #ef0774;
    font-size: 15px;
    padding: 10px 35px;
    text-align: center;
    margin-top: 20px;
}
.footer{
    background-color: #000;
    color: #fff;
}
.footer-about {
    margin: 50px 0;
}
.footer-about h3{
    font-size: 25px;
    font-weight: bold;
}
.footer-about p{
    font-size: 11px;
    color: #fff;
}
.footer-links h3{
    font-size: 20px;
   
}
.footer-links {
    margin: 50px 0;
}
.footer-links i {
    margin: 10px 0;
    padding-right: 12px;
    font-size: 20px;
}
.footer-links a {
    color: #fff;
}
.footer-links li a{
text-decoration: none;
list-style-type: none;
}
.footer-links li {
    list-style-type: none;
}
.footer-links ul {
    padding: 0;
    margin: 10px 0;
}
.footer-links .form-control {
    width: 100%;
    border-radius: 0;
    color: #fff;
    background-color: #000;
    font-size: 11px;
    padding: 10px 8px;
    margin-top: 8px;
    
}
.footer-links .col-md-8{
    padding: 0;
}
.footer-links .col-md-4{
    padding: 0;
}
.btn-sub{
    font-size: 11px;
    padding: 10px 10px;
    text-transform: uppercase;
    margin-top: 8px;

}

@keyframes blink { 0%{ background-color: #000; } 100%{ background-color: #ef0774; } }
